.Lk{ 
    color: #4520AB;
    font-size: 50px;
    margin:  5vh  30%;
    position: relative;
   
    
     }
     .div-lk{
        position: relative;
        justify-content: center;
        margin: 5% 30%;
        color: #4520AB;
     }

     .btn-lk{
        position: relative;
        left: 40%
     }
  